# # Ignorar archivos temporales de Visual Studio, resultados de compilación y
# # archivos generados por complementos populares de Visual Studio.
# #
# # Obtenga lo último de https://github.com/github/gitignore/blob/master/VisualStudio.gitignore

# Archivos específicos del usuario
* .suo
* .user
* .userosscache
* .sln.docstates

# Archivos específicos del usuario (MonoDevelop / Xamarin Studio)
* .userprefs

# Resultados de construcción
[ Dd ] ebug /
[ Dd ] ebugPublic /
[ Rr ] elease /
[ Rr ] elimina /
x64 /
x86 /
bld /
[ Bb ] en /
[ Oo ] bj /
[ Ll ] og /

# Visual Studio 2015/2017 directorio de caché / opciones
.vs /
# Descomente si tiene tareas que crean los archivos estáticos del proyecto en wwwroot
# wwwroot /

# Visual Studio 2017 archivos generados automáticamente
Generado \ Archivos /

# Resultados de la prueba MSTest
[ Tt ] est [ Rr ] esult * /
[ Bb ] uild [ Ll ] og. * *

# NUNIT
* .VisualState.xml
TestResult.xml

# Construir resultados de un proyecto ATL
[ Dd ] ebugPS /
[ Rr ] eleasePS /
dlldata.c

# Resultados de referencia
BenchmarkDotNet.Artifacts /

# .NET Core
project.lock.json
project.fragment.lock.json
artefactos /
** / Propiedades / launchSettings.json

# StyleCop
StyleCopReport.xml

# Archivos creados por Visual Studio
* _i.c
* _p.c
* _i.h
* .ilk
* .meta
* .obj
* .iobj
* .pch
* .pdb
* .ipdb
* .pgc
* .pgd
* .rsp
* .sbr
* .tlb
* .tli
* .tlh
* .tmp
* .tmp_proj
* .log
* .vspscc
* .vssscc
construcciones
* .pidb
* .svclog
* .scc

# Chutzpah Test files
_Chutzpah *

# Visual C ++ archivos de caché
ipch /
* .aps
* .ncb
* .opendb
* .opensdf
* .sdf
* .cachefile
* .VC.db
* .VC.VC.opendb

# Visual Studio profiler
* .psess
* .vsp
* .vspx
* .sap

# Visual Studio Trace Files
* .e2e

# TFS 2012 Espacio de trabajo local
$ tf /

# Kit de herramientas de automatización de orientación
* .gpState

# ReSharper es un complemento de codificación .NET
_ReSharper * /
* . [ Rr ] e [ Ss ] harper
* .DotSettings.user

# JustCode es un complemento de codificación .NET
.JustCode

# TeamCity es un complemento de compilación
_TeamCity *

# DotCover es una herramienta de cobertura de código
* .dotCover

# AxoCover es una herramienta de cobertura de código
.axoCover / *
! .axoCover / settings.json

# Resultados de la cobertura del código de Visual Studio
* .cobertura
* .coveragexml

# NCrunch
_NCrunch_ *
. * crunch * .local.xml
nCrunchTemp_ *

# MightyMoose
* .mm. * *
AutoTest.Net /

# Banco de trabajo web (sass)
.sass-cache /

# Carpeta de salida de Installshield
[ Ee ] xpress /

# DocProject es un complemento generador de documentación
DocProject / buildhelp /
DocProject / Help / * .HxT
DocProject / Ayuda / * .HxC
DocProject / Help / * .hhc
DocProject / Help / * .hhk
DocProject / Help / * .hhp
DocProject / Ayuda / Html2
DocProject / Help / html

# Directorio Click-Once
publicar /

# Publicar salida web
* . [ Pp ] ublish.xml
* .azurePubxml
# Nota: Comente la siguiente línea si desea registrar la configuración de implementación web,
# pero las cadenas de conexión de la base de datos (con posibles contraseñas) no se cifrarán
* .pubxml
* .publishproj

# Configuración de publicación de la aplicación web Microsoft Azure. Comenta la siguiente línea si quieres
# registrar la configuración de publicación de la aplicación web de Azure, pero contiene información confidencial
# en estos scripts no estarán encriptados
PublishScripts /

# Paquetes NuGet
* .nupkg
# La carpeta de paquetes se puede ignorar debido a Restaurar paquete
** / [ Pp ] ackages / *
# excepto build /, que se usa como un objetivo de MSBuild.
! ** / [ Pp ] ackages / build /
# Descomente si es necesario, pero generalmente se regenerará cuando sea necesario
# ! ** / [Pp] ackages / repositories.config
# Los archivos project.json de NuGet v3 producen archivos más ignorables
* .nuget.props
* .nuget.targets

# Microsoft Azure Build Output
csx /
* .build.csdef

# Microsoft Azure Emulator
ecf /
rcf /

# Directorios y archivos de paquetes de aplicaciones de la Tienda Windows
AppPackages /
BundleArtifacts /
Package.StoreAssociation.xml
_pkginfo.txt
* .appx

# Archivos de caché de Visual Studio
# los archivos que terminan en .cache pueden ignorarse
* . [ Cc ] dolor
# pero realiza un seguimiento de los directorios que terminan en .cache
! * . [ Cc ] dolor /

# Otros
ClientBin /
~ $ *
* ~
* .dbmdl
* .dbproj.schemaview
* .jfm
* .pfx
* .publishsettings
orleans.codegen.cs

# La inclusión de archivos de nombres seguros puede presentar un riesgo de seguridad
# (https://github.com/github/gitignore/pull/2483#issue-259490424)
# * .snk

# Dado que hay múltiples flujos de trabajo, elimine el comentario de la siguiente línea para ignorar bower_components
# (https://github.com/github/gitignore/pull/1529#issuecomment-104372622)
# bower_components /

# Proyectos RIA / Silverlight
Código_generado /

# Copia de seguridad y archivos de informe de convertir un archivo de proyecto antiguo
# a una versión más nueva de Visual Studio. No se necesitan archivos de respaldo,
# porque tenemos git ;-)
_UpgradeReport_Files /
Copia de seguridad * /
UpgradeLog * .XML
UpgradeLog * .htm
ServiceFabricBackup /
* .rptproj.bak

# Archivos de SQL Server
* .mdf
* .ldf
* .ndf

# Proyectos de inteligencia empresarial
* .rdl.data
* .bim.layout
* .bim_ * .settings
* .rptproj.rsuser

# Microsoft falsifica
FakesAssemblies /

# Archivo de configuración del complemento GhostDoc
* .GhostDoc.xml

# Node.js Herramientas para Visual Studio
.ntvs_analysis.dat
node_modules /

# Visual Studio 6 registro de compilación
* .plg

# Visual Studio 6 archivo de opciones de espacio de trabajo
* .opt

# Visual Studio 6 archivo de espacio de trabajo generado automáticamente (contiene qué archivos estaban abiertos, etc.)
* .vbw

# Salida de compilación de Visual Studio LightSwitch
** / * .HTMLClient / GeneratedArtifacts
** / * .DesktopClient / GeneratedArtifacts
** / * .DesktopClient / ModelManifest.xml
** / *. Servidor / Artefactos Generados
** / * .Server / ModelManifest.xml
_Pvt_Extensions

# Gerente de dependencia de paquetes
.paket / paket.exe
paket-files /

# FALSO - F # Hacer
.fake /

# JetBrains Rider
.idea /
* .sln.iml

# CodeRush
.cr /

# Herramientas de Python para Visual Studio (PTVS)
__pycache__ /
* .pyc

# Cake: descomenta si lo estás usando
# herramientas / **
# ! tools / packages.config

# Tabs Studio
* .tss

# Archivo de configuración JustMock de Telerik
* .jmconfig

# Salida de compilación de BizTalk
* .btp.cs
* .btm.cs
* .odx.cs
* .xsd.cs

# Resultados del análisis de la interfaz de usuario de OpenCover
OpenCover /

# Salida de ejecución local de Azure Stream Analytics
ASALocalRun /

# MSBuild Registro binario y estructurado
* .binlog

# NVidia Nsight GPU depurador archivo de configuración
* .nvuser

Carpeta de trabajo # MFractors (herramienta de productividad Xamarin)
.mfractor /
